@mixin shrinkLabel {
  transform: translate(-22px, -25px) scale(0.9);
}

.inputBox {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
  margin-top: 3rem;

  label {
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    transition: 0.5s;
    padding-left: 2.5rem;
    padding-top: 4px;
    font-weight: bold;
  }
  input {
    z-index: 10;
    width: 30rem;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: transparent;
    padding-left: 15px;

    &:focus ~ label {
      @include shrinkLabel();
    }
  }
  .shrink {
    @include shrinkLabel();
  }
}
