.signatureContainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    .title{
        display: block;
        margin-bottom: 30px;
        font-size: 1.3rem;
        font-weight: bold;
    }
    .signatureArea{
        border-bottom: 1px solid black;
        width: 100%;
    }
}