.list {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-around;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;

  .infoSpan {
    flex: 1;
    font-size: 1.4rem;
    text-align: center;
  }
  .delete{
    position: absolute;
    top:50%;
    right: 30px;
    width: 25px;
    aspect-ratio: 1/1;
    background-color: lightcoral;
    border-radius: 50%;
    border: none;
    transform: translateY(-50%);
    transition: background-color 0.3s ease-in-out;
    
    &:hover{
      background-color: tomato;
    }
  }
}

