@use '../../assets/animateGradient' as G;

.optionContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: -250px;
  padding: 20px;
  border-radius: 20px;
  background-color: #cfcece;
  border: none;

  &::before {
    content: 'Opcje';
    top: -50px;
    position: absolute;
    font-size: 3rem;
    color: white;
  }
  &::after {
    position: absolute;
    content: '';
    inset: 0;
    transform: scale(1.05);
    border-radius: 20px;
    z-index: -1;
    @include G.gradient;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.459);
  }
}

.select {
  padding-left: 10px;
  padding: 5px 10px;
  font-size: 1.8rem;
  display: flex;
  border-radius: 20px;
}
.address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
}
.buttonBox {
  display: flex;
  justify-content: space-around;
}

.print {
  align-self: flex-end;
  position: relative;
  width: max-content;
  padding: 10px 20px;
  background-color: lightskyblue;
  border: none;
  border-radius: 20px;
  color: black;
  border-bottom: 3px solid rgb(70, 109, 134);
  transition: transform 0.3s;
  text-decoration: none;
  font-size: 1.5rem;

  &:hover {
    border-bottom: 3px solid transparent;
    transform: translateY(3px);
  }
}
.pdf {
  background-color: tomato;
  border-bottom: 3px solid rgb(125, 57, 52);
}
