.statue{
    display: flex;
    margin-top: 10px;
    ol{
        font-size: 0.9rem;
        width: 45%;
        margin: 0 auto;
    }

    .info{
        font-size: 0.8rem;
        width: 45%;
        margin: 0 auto;
    }
}