.role {
  display: flex;

  .optionBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: -250px;
    border: 2px solid gray;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    &::before {
      content: 'Opcje';
      top: -50px;
      position: absolute;
      font-size: 3rem;
    }
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 20px;
    flex: 1;
    font-size: 1.3rem;
    padding-left: 60px;
    p {
      flex: 1;
    }
  }
}

@media print {
  .role {
    display: flex;
    justify-content: center;
    align-items: center;

    .optionBox {
      display: none;
    }
  }
  .title {
    font-size: 1.5rem;
  }
}
