.inputBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    position: relative;
    
    label{
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        top: -20px;
    }
    input{
        border: 1px solid lightskyblue;
        padding: 5px 5px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
    }
}