*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #bbf0f379;
  background-image: linear-gradient(315deg, #bbf0f383 0%, #f6d2857e 74%);

}

@media print {
  body {
    background-color: transparent;
  }
}
